<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"></link>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

        <title>Login</title>
    </head>
    <body class="text-center">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label>ユーザーID</label>
            <input type="text"><br/>
            <br/>
            <label>パスワード</label>
            <input type="password"><br/>
            <br/>
            <button class="btn btn-primary"  type="submit">ログイン</button>
        </form>
        <br/>
        <a th:href="@{/signup}">ユーザー新規登録はこちら</a>
    </body>
</html>